<div class="banner-content">
    <div class="form-inner">
        <div class="input-group">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input id="searchInput" type="text" name="serachText" class="form-control" placeholder="Search Course, Online educational centers, etc">
            <button id="searchBtn" class="btn btn-primary sub-btn" type="submit"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
</div>