@model InstructorRegisterVM
@{
    Layout = null;
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png"  href="~/admin/images/favicon.png" >
    <link href="~/admin/vendor/wow-master/css/libs/animate.css" rel="stylesheet">
    <link href="~/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-select-country/css/bootstrap-select-country.min.css">
    <link rel="stylesheet" href="~/admin/vendor/jquery-nice-select/css/nice-select.css">
    <link href="~/admin/vendor/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <link href="~/admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--swiper-slider-->
    <link rel="stylesheet" href="~/admin/vendor/swiper/css/swiper-bundle.min.css">
    <!-- Style css -->
    <link  href="~/admin/css/style.css" rel="stylesheet">
}
<body class="body  h-100">
    <div class="authincation d-flex flex-column flex-lg-row flex-column-fluid">
        <div class="login-aside text-center  d-flex flex-column flex-row-auto">
            <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
                <div class="text-center mb-lg-4 mb-2 pt-3 logo">
                     <img src="~/assets/img/login-img.png" class="img-fluid" alt="Logo" width="100">
                </div>
                <h3 class=" text-white">Welcome back!</h3>
                <p class="mb-4">User Experience & Interface Design <br>Strategy SaaS Solutions</p>
            </div>
            <div class="aside-image position-relative" style="background-image:url(~/admin/images/background/pic-2.png);">
                <img class="img1 move-1" src="~/assets/img/course/course-06.jpg" alt="">
                <img class="img2 move-2" src="~/assets/img/course/course-02.jpg" alt="">
                <img class="img3 move-3" src="~/assets/img/course/course-08.jpg" alt="">

            </div>
        </div>
        <div class="container flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex justify-content-center h-100 align-items-center">
                <div class="authincation-content style-2">
                    <div class="row no-gutters">
                        <div class="col-xl-12 tab-content">
                            <div id="sign-up" class="auth-form tab-pane fade show active  form-validation">
                                <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="text-center mb-4">
                                        <h3 class="text-center mb-2 text-black">Sign up</h3>
                                        <span>Your Social Campaigns</span>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-xl-6 col-6">
                                            <a href="https://www.google.com/" class="btn btn-outline-light d-block social-bx">
                                            <svg width="16" height="16" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M27.9851 14.2618C27.9851 13.1146 27.8899 12.2775 27.6837 11.4094H14.2788V16.5871H22.1472C21.9886 17.8738 21.132 19.8116 19.2283 21.1137L19.2016 21.287L23.44 24.4956L23.7336 24.5242C26.4304 22.0904 27.9851 18.5093 27.9851 14.2618Z" fill="#4285F4"/>
                                            <path d="M14.279 27.904C18.1338 27.904 21.37 26.6637 23.7338 24.5245L19.2285 21.114C18.0228 21.9356 16.4047 22.5092 14.279 22.5092C10.5034 22.5092 7.29894 20.0754 6.15663 16.7114L5.9892 16.7253L1.58205 20.0583L1.52441 20.2149C3.87224 24.7725 8.69486 27.904 14.279 27.904Z" fill="#34A853"/>
                                            <path d="M6.15656 16.7113C5.85516 15.8432 5.68072 14.913 5.68072 13.9519C5.68072 12.9907 5.85516 12.0606 6.14071 11.1925L6.13272 11.0076L1.67035 7.62109L1.52435 7.68896C0.556704 9.58024 0.00146484 11.7041 0.00146484 13.9519C0.00146484 16.1997 0.556704 18.3234 1.52435 20.2147L6.15656 16.7113Z" fill="#FBBC05"/>
                                            <path d="M14.279 5.3947C16.9599 5.3947 18.7683 6.52635 19.7995 7.47204L23.8289 3.6275C21.3542 1.37969 18.1338 0 14.279 0C8.69485 0 3.87223 3.1314 1.52441 7.68899L6.14077 11.1925C7.29893 7.82856 10.5034 5.3947 14.279 5.3947Z" fill="#EB4335"/>
                                            </svg>

                                            <span class="ms-1 font-w600 label-color">Sign in with Google</span></a>
                                        </div>
                                        <div class="col-xl-6 col-6">
                                            <a href="https://www.apple.com/" class="btn btn-outline-light d-block social-bx">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 456.008 560.035"><path d="M380.844 297.529c.787 84.752 74.349 112.955 75.164 113.314-.622 1.988-11.754 40.191-38.756 79.652-23.343 34.117-47.568 68.107-85.731 68.811-37.499.691-49.557-22.236-92.429-22.236-42.859 0-56.256 21.533-91.753 22.928-36.837 1.395-64.889-36.891-88.424-70.883-48.093-69.53-84.846-196.475-35.496-282.165 24.516-42.554 68.328-69.501 115.882-70.192 36.173-.69 70.315 24.336 92.429 24.336 22.1 0 63.59-30.096 107.208-25.676 18.26.76 69.517 7.376 102.429 55.552-2.652 1.644-61.159 35.704-60.523 106.559M310.369 89.418C329.926 65.745 343.089 32.79 339.498 0 311.308 1.133 277.22 18.785 257 42.445c-18.121 20.952-33.991 54.487-29.709 86.628 31.421 2.431 63.52-15.967 83.078-39.655"/></svg>
                                            <span class="ms-1 font-w600 label-color">Sign in with Apple</span></a>
                                        </div>
                                    </div>
                                    <div class="sepertor">
                                        <span class="d-block mb-4 fs-13">Or with email</span>
                                    </div>
                                    <div class="form-row d-flex">
                                        <div class="mb-3 p-1 col-md-6">
                                            <label class="form-label mb-2 fs-13 label-color font-w500" asp-for="Name"></label>
                                            <input class="form-control" placeholder="Enter your username" asp-for="Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 p-1 col-md-6">
                                            <label class="form-label mb-2 fs-13 label-color font-w500" asp-for="Surname"></label>
                                            <input class="form-control" placeholder="Enter your username" asp-for="Surname">
                                            <span asp-validation-for="Surname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label mb-2 fs-13 label-color font-w500" asp-for="UserName"></label>
                                        <input class="form-control" placeholder="Enter your username" asp-for="UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label mb-2 fs-13 label-color font-w500" asp-for="Email"></label>
                                        <input class="form-control" placeholder="Enter your username" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label mb-2 fs-13 label-color font-w500" asp-for="Password"></label>
                                        <input class="form-control" placeholder="Enter your username" asp-for="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <a href="javascript:void(0);" class="text-primary float-end mb-4">Forgot Password ?</a>
                                    <button type="submit" class="btn btn-block btn-primary">Sign me up</button>

                                </form>
                                <div class="new-account mt-3 text-center">
                                    <p class="font-w500">Already have an account? <a class="text-primary" href="page-login.html">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
@*model InstructorRegisterVM
@{
    Layout = null;
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.svg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/assets/plugins/slick/slick-theme.css">

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/plugins/aos/aos.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
}

<div class="main-wrapper log-wrap">
    <div class="row">
        <div class="col-md-6 login-bg">
            <div class="owl-carousel login-slide owl-theme">
                <div class="welcome-login">
                    <div class="login-banner">
                        <img src="~/assets/img/login-img.png" class="img-fluid" alt="Logo">
                    </div>
                    <div class="mentor-course text-center">
                        <h2>Welcome to <br>DreamsLMS Courses.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 login-wrap-bg">
            <div class="login-wrapper">
                <div class="loginbox">
                    <div class="img-logo">
                        <img src="~/assets/img/logo.svg" class="img-fluid" alt="Logo">
                        <div class="back-home">
                            <a asp-action="Index" asp-controller="Home">Back to Home</a>
                        </div>
                    </div>
                    <h3>Sign up</h3>
                    <form method="post">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-row d-flex">
                             <div class="form-group col-md-6">
                                 <label class="form-control-label" asp-for="Name"></label>
                                 <input class="form-control" placeholder="Enter your name" asp-for="Name">
                                 <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 ms-3">
                                 <label class="form-control-label" asp-for="Surname"></label>
                                 <input class="form-control" placeholder="Enter your name" asp-for="Surname">
                                 <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row d-flex">
                             <div class="form-group col-md-6">
                                 <label class="form-control-label" asp-for="UserName"></label>
                                 <input class="form-control" placeholder="Enter your username" asp-for="UserName">
                                 <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                             <div class="form-group col-md-6 ms-3">
                                 <label class="form-control-label" asp-for="Email"></label>
                                 <input class="form-control" placeholder="Enter your email address" asp-for="Email">
                                 <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label" asp-for="Password"></label>
                            <div class="pass-group" id="passwordInput">
                                <input asp-for="Password" class="form-control pass-input" placeholder="Enter your password">
                                 <span asp-validation-for="Password" class="text-danger"></span>
                                <span class="pass-checked"><i class="feather-check"></i></span>
                            </div>
                            <div class="password-strength" id="passwordStrength">
                                <span id="poor"></span>
                                <span id="weak"></span>
                                <span id="strong"></span>
                                <span id="heavy"></span>
                            </div>
                            <div id="passwordInfo"></div>
                        </div>
                        <div class="form-check remember-me">
                            <label class="form-check-label mb-0">
                                 <input class="form-check-input" type="checkbox" name="remember"> I agree to the <a href="term-condition.html">Terms of Service</a> and <a href="privacy-policy.html">Privacy Policy.</a>
                            </label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-start" type="submit">Create Account</button>
                        </div>
                    </form>
                </div>
                <div class="google-bg text-center">
                    <span><a href="#">Or sign in with</a></span>
                    <div class="sign-google">
                        <ul>
                            <li><a href="#"><img src="~/assets/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
                            <li><a href="#"><img src="~/assets/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
                        </ul>
                    </div>
                    <p class="mb-0">Already have an account? <a href="login.html">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>*@