@model ResetPasswordVM
@{
    Layout = null;
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.svg">
    <link href="~/admin/vendor/wow-master/css/libs/animate.css" rel="stylesheet">
    <link href="~/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-select-country/css/bootstrap-select-country.min.css">
    <link rel="stylesheet" href="~/admin/vendor/jquery-nice-select/css/nice-select.css">
    <link href="~/admin/vendor/datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <link href="~/admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--swiper-slider-->
    <link rel="stylesheet" href="~/admin/vendor/swiper/css/swiper-bundle.min.css">
    <!-- Style css -->
    <link  href="~/admin/css/style.css" rel="stylesheet">
}
<body class="body  h-100">
    <div class="authincation d-flex flex-column flex-lg-row flex-column-fluid">
        <div class="login-aside text-center  d-flex flex-column flex-row-auto">
            <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
                 <div class="text-center mb-lg-4 pt-3 logo">
                     <a asp-action="Index" asp-controller="Home" class="navbar-brand logo d-flex justify-content-center align-items-center">
                          <img src="~/assets/img/logo.svg" class="img-fluid" alt="Logo" width="200px">
                     </a>
                      <h1 class="text-center text-white d-flex justify-content-center align-items-center pt-4">Welcome back!</h1>
                </div>
            </div>
            <div class="aside-image position-relative">
                <img src="~/assets/img/login-img.png" class="img2 move-2" alt="Logo">
                <img class="img4 move-4 rounded-circle" src="~/admin/images/background/pic-2.png" alt="" width="260px">
                <img class="img1 move-1 rounded-circle" src="~/assets/img/course/course-06.jpg" alt="" width="120px" height="120px">
                <img class="img3 move-3 rounded-circle" src="~/assets/img/course/course-08.jpg" alt="" width="140px" height="140px">
            </div>
        </div>
        <div class="container flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex justify-content-center h-100 align-items-center">
                <div class="authincation-content style-2">
                    <div class="row no-gutters">
                        <div class="col-xl-12 tab-content">
                            <div id="sign-up" class="auth-form tab-pane fade show active  form-validation">
                                <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="text-center mb-4">
                                        <h3 class="text-center mb-2 text-black">Reset Password</h3>
                                        <hr />
                                    </div>

                                    <div class="form-row ">
                                        <div class="mb-3 p-1 ">
                                            <label class="form-label mb-2 fs-13 label-color font-w500" asp-for="NewPassword">New Password</label>
                                            <input class="form-control" placeholder="Enter your new password" asp-for="NewPassword">
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 p-1 ">
                                            <label class="form-label mb-2 fs-13 label-color font-w500" asp-for="ConfirmPassword">Confrim Password</label>
                                            <input class="form-control" placeholder="Please repeat your new password" asp-for="ConfirmPassword">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <a href="javascript:void(0);" class="text-primary float-end mb-4">Forgot Password ?</a>
                                    <button type="submit" class="btn btn-block btn-primary">Submit</button>

                                </form>
                                <div class="new-account mt-3 text-center">
                                    <p class="font-w500">New User? <a class="text-primary" asp-action="StudentRegister" asp-controller="Account">Create Account</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>